# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
/.idea.CicekSepeti.BasketCase.iml
# Datasource local storage ignored files
/../../../../../../../:\Projects\ciceksepeti\CicekSepeti.BasketCase\.idea\.idea.CicekSepeti.BasketCase\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
